@mixin gradient-text ($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin custom-underline ($color, $size, $position) {
  background-image: linear-gradient($color, $color);
  background-size: $size;
  background-repeat: no-repeat;
  background-position: $position;
}

// позиционирование
@mixin quote ($color) {
  position: relative;
  font-style: italic;
  line-height: 140%;

  $width: 9px;

  &:before,
  &:after {
    position: relative;
    top: 6px;
    display: inline-block;
    width: $width;
    font-size: 22px;
    line-height: 13px;
    color: $color;
  }

  &:before {
    left: -2px;
    margin-left: -$width;
    content: '\201C';
  }

  &:after {
    left: 2px;
    margin-right: -$width;
    content: '\201D';
    // чтобы не слетало в одиночестве на след. строку 
  }
}

// отдаешь проценты (число — 5 например)
// возвращает padding-bottom равный процентам от высоты вьюпорта в пикселах
@mixin optical ($percentage) {
  //margin-top: calc( ( var(--viewportHeight) / 100 ) * #{$percentage} * -1 );
  padding-bottom: calc( ( var(--viewportHeight) / 100 ) * #{$percentage} );
}

@mixin hover($opacity) {
  cursor: pointer;
  &:hover {
    opacity: $opacity;
  }
}