/* Colors */
$gray1: #1B2529;
$gray2: #32454B;
$gray3: #3E5259;
$gray4: #52666D;
$gray5: #61757C;
$gray6: #7B8E94;
$gray7: #9AABB1;
$gray8: #CBD5D9;
$gray9: #E4E9EB;
$gray95: #F3F6F7;
$gray10: #F5F8FA;
$red1: #610316;
$red2: #8A041A;
$red3: #AB091E;
$red4: #CF1124;
$red5: #E12D39;
$red6: #EF4E4E;
$red7: #F86A6A;
$red8: #FF9B9B;
$red9: #FFBDBD;
$red10: #FFE3E3;
$red11: #FFEBEB;
$blue1: #034F69;
$blue2: #0D6481;
$blue3: #1B708D;
$blue4: #277D9A;
$blue5: #3494B4;
$blue6: #44A5C6;
$blue7: #88C8DD;
$blue8: #BCE2ED;
$blue9: #DEF2F8;
$blue10: #F4FBFD;
$cyan1: #05606E;
$cyan2: #07818F;
$cyan3: #099AA4;
$cyan4: #0FB5BA;
$cyan7: #62F4EB;
$cyan8: #92FDF2;
$cyan9: #C1FEF6;
$cyan10: #E1FCF8;
$cyan-border: #90DCD7;
$yellow1: #8D2B0B;
$yellow2: #B44D12;
$yellow3: #CB6E17;
$yellow4: #DE911D;
$yellow5: #F0B429;
$yellow6: #F7C948;
$yellow7: #FADB5F;
$yellow8: #FCE588;
$yellow9: #FFF3C4;
$yellow10: #FFFBEA;
$cyanGradient: linear-gradient(90deg, #0FB5BA, #07818F);
$cyanGradientFallBack: $cyan3;

$blueGradient: linear-gradient(90deg, #45B6DC 18%, #188EB6);
$blueGradientFallback: #7CC4FA;

// derivative colors
$link: $blue4;

// z-indexes
$zIndex--alert: 1000;
$zIndex--overlay: 1000;
$zIndex--overlayPrimary: 1001;
$zIndex--popup: 100;
$zIndex--tip: 100;
$zIndex--dim: 99;

// optical compensation coefficients
// FIXME: сейчас эти проценты берутся от ширины родительского блока,
// со временем я буду оперировать высотой view девайса и тогда 
// будет иметь смысл переписать правило, брать процент от высоты блока
$verticalCompensation: calc( 0px - var(--viewportHeight) / 100 * 1.5 ) ;
$verticalCompensation--inverted: calc( var(--viewportHeight) / 100 * 1.5 ) ;

// margins
$xsMargin: 8px;
$standardMargin: 16px;
$extraMargin: 24px;

// 
$footerHeight: 64px;
$footerHeightXL: 96px;
$footerHeightXXL: 100px;

// adaptive points
$adaptiveXS: 320px;

// hover
$hoverOpacity: .85;

// global css variables
:root {
  --viewportHeight: 100%;
  --footerHeight: 64px;
  --summaryHeight: 0;
}

@media (max-width: $adaptiveXS) {
  :root {
    --footerHeight: 60px;
  }
}