.alert {
  text-align: center;
}

.alert__icon {
  display: flex;
  justify-content: center;

  margin: 0 auto 15px auto;
  width: 70px;
  height: 70px;
  border: 50%;
  border-radius: 50%;
  background: $gray10;

  svg {
    width: 48px;
  }

  path {
    fill: $gray6;
  }
}

.alert--s {
  .alert__primary {
    margin-top: -4px;
    font-size: 14px;
  }
}

.alert__primary {
  font-size: 18px;
  font-weight: 600;
  color: $gray1;
}

.alert__secondary {
  margin-top: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25em;
  color: $gray4;

  // в пропсы передаю что-нибудь в таком духе -- description={`You can add an antonym on your own or\n continue as is`}
  // https://forum.freecodecamp.org/t/newline-in-react-string-solved/68484/10
  white-space: pre-wrap;
}

.alert__action {
  margin-top: 20px;
}

.alert--text {
  .alert__action {
    margin-top: 12px;
  }
}

.alert--done {
  .alert__icon {
    background: $cyan10;
  }

  path {
    fill: $cyan3;
  }

  .alert__primary {
    color: $cyan2;
  }
}

.alert--error {
  .alert__icon {
    background: $red10;
  }

  path {
    fill: $red3;
  }

  .alert__primary {
    color: $red2;
  }
}

.alert--warning {
  .alert__icon {
    background: $yellow10;
  }

  path {
    fill: $yellow3;
  }

  .alert__primary {
    color: $yellow2;
  }
}

@media (max-width: $adaptiveXS) {
  .alert__primary {
    font-size: 16px;
  }

  .alert__secondary {
    font-size: 13px;
  }

  .alert__icon {
    width: 62px;
    height: 62px;

    svg {
      width: 42px;
    }
  }
}
