.audio {
  display: inline-block;
}

.audio__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.audio__content {
  position: relative;

  .spinner {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  button {
    position: relative;
    z-index: 2;
  }
}

.audio__error {
  margin-top: 4px;
  margin-bottom: 8px;
}

.audio__transcription {
  position: absolute;
  right: 100%;
  top: 9px;
  margin-right: 8px;
  z-index: 1;

  padding: 8px 10px;
  border-radius: 2px;
  background-color: $gray10;

  font-size: 14px;
  color: $gray2;
  white-space: nowrap;
}