button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  text-decoration: none;
  white-space: nowrap;
  padding: 13px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;

  // https://stackoverflow.com/questions/5106934/prevent-grey-overlay-on-touchstart-in-mobile-safari-webview
  //-webkit-tap-highlight-color: rgba(0,0,0,0);
  //-webkit-tap-highlight-color: hsla(195,60,38,.5);

  .icon {
    top: -2px;
    margin-right: 6px;
  }
  /*
  &:hover {
    opacity: .85;
  }

  &:active {
    opacity: .75;
  }
*/
  &,
  &:focus {
    outline: none;
    box-shadow: none;
  }

  @media (max-width: $adaptiveXS) {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;

    .icon {
      //top: -1px;
      margin-right: 5px;
    }
  }

  &:disabled {
    opacity: 0.675;
  }
}

.btn--plain {
  background-color: transparent;
  padding: 0;
  border: none;
  color: $gray4;
  font-size: 14px;
  font-weight: 400;

  .icon {
    top: 0;
    margin: 0;
  }

  .icon--check {
    top: 2px;
  }
}

.btn--block {
  display: block !important;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn--primary {
  background: $blue4;
  border-color: $blue4;
  color: #fff;
  text-shadow: 0px 0px 15px $blue2;
}

.btn--secondary {
  background: #fff;
  border-color: $blue7;
  color: $blue4;

  &.btn--red {
    background-color: #fff;
    border-color: $red9;
    color: $red4;
    font-weight: 400;
  }
}

.btn--tertiary {
  background: transparent;
  border-color: $gray5;
}

.btn--yellow {
  color: $yellow3;
  border-color: $yellow6;

  &.btn--primary {
    background: $yellow10;
    border-color: $yellow10;
    text-shadow: 0px 0px 15px $yellow8;
  }
}

.btn--gray {
  border-color: $gray8;
  color: $gray3;
}

.btn--red {
  background: $red11;
  color: $red5;
}

.btn--xs {
  font-size: 12px;
}

.btn--small {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 14px;

  .icon {
    top: -1px;
    margin-right: 4px;
  }
}

.btn--medium {
  font-size: 14px;
}

.btn--large {
  font-size: 18px;
}

.btn--uppercase {
  text-transform: uppercase;
}

.btn--dots {
  height: 4px;
  padding: 9px 5px;
  box-sizing: content-box;
  border: none;

  span {
    display: block;
    float: left;
    width: 4px;
    height: 4px;
    margin-right: 3px;
    background-color: $gray6;
    border-radius: 2px;
  }
  span:last-child {
    margin-right: 0;
  }
}

.btn--add {
  background-color: transparent;
  padding: 0;
  border: none;
  color: $gray4;
  font-size: 14px;
  font-weight: 400;

  .icon {
    top: 0;
    margin: 0;
  }

  .icon__wrapper + .btn__titleWrapper {
    margin-left: 8px;
  }

  .btn__titleWrapper {
    position: relative;
    top: -2px;
    color: $gray4;
    border-bottom: 1px dotted $gray4;
  }
}

.btn--link {
  display: inline;
  padding: 0;
  border: none;
  border-radius: 0;
  color: $link;
  font-weight: normal;
  line-height: 100%;
  background: none;

  &.--pure-link {
    text-decoration: underline;
    vertical-align: baseline;
    color: $link;
  }

  &.btn--link--cyan {
    color: $cyan2;
    border-bottom-color: $cyan3;
  }

  &.btn--link--semiblack {
    color: $gray3;
    border-bottom-color: $gray3;
  }

  /* pseudo используется только в паре с btn--link */
  &.btn--pseudo {
    color: $gray6;
    border-bottom: 1px dotted $gray6;

    &.btn--pseudo--dark {
      color: $gray4;
      border-bottom-color: $gray4;
    }

    &.btn--pseudo--black {
      color: $gray1;
      border-bottom-color: $gray3;
    }

    &.btn--pseudo--semibold {
      font-weight: 500;
    }

    &.btn--xs {
      line-height: 140%;
    }

    &.btn--blue {
      color: $link;
      border-bottom-color: $link;
    }
  }

  &.btn--large {
    line-height: 135%;
  }
}

.btn--500 {
  font-weight: 500;
}

.btn--600 {
  font-weight: 600;
}

/* Extra space around icons */
.btn--air-m {
  padding: 8px;
}

.btn--serif {
  font-family: 'Roboto Slab', serif;
}

.btn--link.btn--red {
  color: $red3;
}

.btn--icon {
  padding: 0;
  width: 28px;
  height: 28px;

  border-color: $gray9;
  border-radius: 50%;

  color: $gray6;
  font-size: 18px;

  &.btn--icon__s {
    width: 16px;
    height: 16px;

    line-height: 12px;
    font-size: 12px;
    color: $gray5;

    border: none;
    background-color: $gray9;
  }

  span {
    display: inline-block;

    position: relative;
    top: -1px;
  }
}

.btn--answer {
  position: relative;
  padding-top: 9px;
  padding-bottom: 6px;

  small {
    margin-top: 1px;
    display: block;
    font-weight: 400;
    color: $gray7;
  }
}

.btn--back {
  display: inline-block;
  margin: -5px -5px 19px -5px;

  .btn {
    padding: 5px;
  }
}

/* Hor sizes */
.btn--xs {
  padding-left: 2px;
  padding-right: 2px;
}

.btn--m {
  padding-left: 38px;
  padding-right: 38px;
}

@media (max-width: $adaptiveXS) {
  .btn--medium {
    font-size: 13px;
  }

  .btn--small {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;

    .icon {
      margin-left: -2px;
      margin-right: 4px;
    }
  }

  .btn--large {
    font-size: 17px;
  }

  .btn--answer {
    padding-top: 6px;
    padding-bottom: 7px;
  }
}
