.cards {
  flex-direction: row !important;
}

.cards__exception {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.cards__content {
  flex-grow: 1;
  padding: 16px 46px 0 12px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.cards__search {
  display: none;

  .form-control {
    margin: 0;
  }
}

.cards__list {
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  font-size: 18px;

  li {
    padding: 12px 0;

    & > span:hover {
      cursor: pointer;
      opacity: $hoverOpacity;
    }

    span > span:not(.pill) {
      margin-right: 8px;
    }

    &:hover {
      span {
        
      }
    }
  }
}

// TODO: портретный режим, в две колонки?
.cards__nav {
  flex-basis: 0;
  $minLetterPadding: 0;
  //padding: (18px - $minLetterPadding) 8px (12px - $minLetterPadding) 12px;
  
  ul {
    position: fixed;
    right: 8px;
    top: 18px;
    bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 26px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
  }

  li {
    padding: $minLetterPadding 0;
  }

  .btn--link {
    padding: 2px;
  }

  .icon__wrapper {
    margin-top: -5px;
    margin-bottom: -5px;
    color: $gray1;
  }
}

@media (max-width: $adaptiveXS) {
  .cards__content {
    padding-right: 42px;
  }

  .cards__list {
    font-size: 16px;
  }

  .cards__nav {
    .btn--xs,
    ul {
      font-size: 11px;
    }
  }
}