.definition {
  //display: flex;
  position: relative;
  margin-bottom: 16px;
  padding: 15px 12px 15px 16px;
  border: 1px solid $gray9;
  border-radius: 5px;

  &.--selected {
    border-color: #E3FCFC;
    background: linear-gradient(180deg, #E3FCFC 0%, #E1FCF4 100%);

    .definition__contentCol {
      padding-right: 72px;
    }
  }

  &.--compact {
    margin-bottom: 10px;
    padding-top: 11px;
    padding-bottom: 12px;

    h4 {
      margin-bottom: 4px;
      font-size: 14px;
    }

    .btn {
      top: 12px;
    }

    li {
      font-size: 12px;
    }
  }

  @include hover($hoverOpacity);
}

.definition__contentCol {
  //flex-grow: 1;
  //align-self: center;
  padding-right: 46px;
}

.definition__btnCol {
  position: absolute;
  top: 15px;
  right: 12px;
}

.definition__change {
  position: relative;
  top: 1px;
}

.definition__title,
.definition__examples {
  font-family: 'Roboto Slab', serif;
}

.definition__title {
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
}

.definition__examples {
  margin-top: 10px;

  li {
    font-size: 14px;
    color: $gray4;
    line-height: 140%;
    font-weight: 300;
  }

  li.striken {
    color: $gray7;
    text-decoration: line-through;
  }

  li:not(:last-child) {
    margin-bottom: 6px;
  }

  span {
    &:not(:last-child):after {
      content: '\0020';
    }

    &:not(.--active) {
      color: $gray7;
      @include custom-underline($gray9, 100% 2px, center 60%);
    }
  }
}

.definition__domains {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 500;
  color: $yellow3;

  span {
    &:not(:last-child):after {
      content: ', ';
    }
  }
}

@media (max-width: $adaptiveXS) {
  .definition__title {
    font-size: 15px;
  }

  .definition__btnCol {
    .definition__pick {
      top: -2px;
    }
  }
}