.dropdown-overlay {
  position: fixed;
  z-index: $zIndex--overlay;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $gray2;

  padding: 24px 40px;
  display: flex;
  flex-direction: column;

  section {
    margin-bottom: 40px !important;
    padding-bottom: 0 !important;
  }

  h4 {
    margin-bottom: 16px;
    font-size: 14px;
    color: $gray7;
    text-transform: uppercase;
  }

  li {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 220%;

    &.--active {
      position: relative;
      color: $cyan7;
    }

    .icon-check {
      color: $cyan7;
    }

    .icon__wrapper__container {
      position: absolute;
      left: -17px;
    }
  }
}

.dropdown-overlay__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.dropdown-overlay__close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.dropdown-overlay__content {
  display: flex;

  ul {
    flex: 1;
    box-sizing: border-box;
    padding-right: 20px;
  }

  li > span {
    @include hover($hoverOpacity);
  }
}

.dropdown-overlay__not-listed {
  position: relative;
  font-size: 16px;
  align-self: flex-start;
  color: $red8 !important;

  &.--active {
    font-weight: 600;
    text-decoration: none !important;
    color: $cyan7 !important;
  }

  .icon-check {
    color: $cyan7;
  }

  .icon__wrapper__container {
    position: absolute;
    left: -17px;
    top: 2px;
  }
}

@media (max-width: $adaptiveXS) {
  .dropdown-overlay {
    section {
      margin-bottom: 20px !important;
    }

    li {
      line-height: 210%;
      font-size: 15px;
    }

    h4 {
      font-size: 13px;
    }
  }

  .dropdown-overlay__not-listed {
    font-size: 15px;
  }
}
