.edit {
  h1 {
    margin: 0 0 16px 0;
    font-size: 32px;
    font-weight: 300;
    color: $cyan3;
    
    span:first-child {
      margin-right: 12px;
      text-transform: capitalize;
    }
  }
}

.edit__definition {
  position: relative;
  margin-bottom: 32px;
  padding-right: 40px;
  padding-bottom: 16px;
  border-bottom: 1px solid $gray9; 
}

.edit__definition__def,
.edit__definition__example {
  line-height: 135%;
}

.edit__definition__def {
  font-weight: 500;
}

.edit__definition__example {
  margin-top: 5px;
  color: $gray4;
  font-weight: 300;
  font-style: italic;
}

.edit__definition__domains {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  color: $yellow3;

  span {
    &:not(:last-child):after {
      content: ', ';
    }
  }
}

.edit__definition__edit {
  position: absolute !important;
  right: 0;
  top: -1px;
}