@charset "UTF-8";

/*
  шрифт с иконками живет в http://app.fontastic.me/
*/

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\61";
}
.icon-exclamation-triangle:before {
  content: "\62";
}
.icon-info-circle:before {
  content: "\63";
}
.icon-box-inbox:before {
  content: "\64";
}
.icon-server:before {
  content: "\65";
}
.icon-wifi:before {
  content: "\66";
}
.icon-clone:before {
  content: "\68";
}
.icon-facebook-square:before {
  content: "\67";
}
.icon-clock-o:before {
  content: "\69";
}
.icon-search:before {
  content: "\6a";
}
/* to delete */ 
.icon-volume-up:before {
  content: "\6b";
}
.icon-lightbulb-o:before {
  content: "\6c";
}
.icon-long-arrow-left:before {
  content: "\6d";
}
.icon-pencil:before {
  content: "\6e";
}
.icon-scissors:before {
  content: "\6f";
}
