footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  
  height: var(--footerHeight);
  padding: 8px;
  box-sizing: border-box;
  text-align: center;

  &.footer--transparent {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 12%);
  }

  &.footer--extra-paddings {
    padding: $extraMargin;
  }

  &.footer--xl {
    height: $footerHeightXL;
  }

  &.footer--xxl {
    height: $footerHeightXXL;
  }

  &.footer--static {
    position: static;
    padding: $xsMargin 0 $standardMargin 0;
    height: auto;
  }

  button {
    margin-bottom: 0;
  }

  button + button {margin-top: 12px;}
}

.footer__divider {
  margin-top: 24px;
  margin-bottom: 24px;
  height: 1px;
  background: $gray9;
}

.footer__grid {
  display: flex;
  
  .btn {
    margin: 0 5px;
    flex-grow: 1;
    flex-basis: 0;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__cancel {
  display: inline-block;
  margin-top: 13px;
}