.form-control {
  display: block;
  margin-bottom: 17px;

  &.required {
    .form-control__marker:after {
      content: '*';
      color: $red5;
    }
  }

  &.--disabled {
    opacity: 0.5;
  }
}

.form-control--pseudoList {
  margin-bottom: 12px;

  label {
    margin-bottom: 4px;
  }

  .btn--link {
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &.--centered {
    .btn--link {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

.form-control--view {
  label,
  ul {
    vertical-align: baseline;
  }

  label {
    margin: 0 8px 0 0;
    padding-top: 3px;
    display: inline-block;
  }

  ul {
    display: inline-block;
  }

  li {
    display: inline;
  }

  li:not(:last-child) {
    &:after {
      content: ', ';
    }
  }
}

.form-control__marker {
  margin-right: 6px;
  margin-left: 1px;
}

.form-control__at_least_one {
  float: right;
  text-transform: none;
  color: $gray5;
  letter-spacing: 0.625px;
}

.form-control__note {
  margin-top: 8px;
  line-height: 135%;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  color: $gray6;
  letter-spacing: 0.02em;

  strong {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    color: $gray5;
    letter-spacing: 0;
  }
}

.form-control__invalid {
  input[type='text'],
  textarea,
  .pseudo-select {
    color: $red5;
    border-color: $red10;
    background-color: $red10;
  }

  input[type='text']:focus,
  textarea:focus {
    border-color: $red8;
  }

  .react-select {
    .react-select__control {
      border-color: $red7;
    }
  }

  .pseudo-select {
    &.--placeholder {
      color: $red7;
    }
  }
}

.form-control__errorMsg {
  float: right;

  .notice-v3 {
    position: relative;
    top: -3px;
  }
}

.form-control--emphasized {
  .hero-input {
    font-weight: 700;
  }
}

.form-control--italic {
  .hero-input {
    font-style: italic;
  }
}

label {
  display: block;
  margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: $gray3;
  font-size: 12px;
  font-weight: 500;

  .icon__wrapper {
    position: relative;
    top: -2px;
    margin-bottom: -4px;
  }
}

input[type='text'],
textarea,
.pseudo-select {
  display: block;
  width: 100%;

  padding: 13px 14px 12px 12px;
  box-sizing: border-box;

  border-radius: 5px;
  border: 1px solid $gray10;

  font-size: 16px;
  line-height: 135%;
  color: $gray1;
  caret-color: $gray1;

  background: $gray10;
  appearance: none;

  &:focus {
    border-color: $blue6;
    outline: none;
  }

  &.--inverted {
    border-color: #fff;
    background-color: #fff;
  }
}

input[type='text'] {
  height: 51px;
}

textarea {
  height: 92px;
  resize: none;
}

.hero-input {
  font-size: 16px;
  height: 51px;

  &.hero-input__packed {
    height: 69px;
    line-height: 130%;
  }
}

.checkbox,
.radio {
  label {
    position: relative;
    padding-left: 27px;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    text-transform: none;
    letter-spacing: 0;
    color: $gray2;
    user-select: none;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      cursor: pointer;
    }
  }

  .checkmark {
    position: absolute;
    font-weight: normal;
    top: 3px;
    left: 0;
    box-sizing: border-box;
    background-color: $gray10;
    border: 1px solid $gray8;
  }

  .checkmark:after {
    position: absolute;
    display: none;
    content: '';
  }

  label input:checked ~ .checkmark {
    border-color: $blue6;
    background-color: $blue6;
  }

  label input:checked ~ label {
    font-weight: 600;
  }

  label input:checked ~ .checkmark:after {
    display: block;
  }
}

.radio {
  .checkmark {
    height: 18px;
    width: 18px;
    border-radius: 50%;
  }

  .checkmark:after {
    left: 1px;
    top: 1px;
    width: 14px;
    height: 14px;

    border-radius: 50%;
    border: 2px solid #fff;
    background: $blue6;
    box-sizing: border-box;
  }
}

.checkbox {
  .checkmark {
    height: 16px;
    width: 16px;
    border-radius: 2px;
  }

  .checkmark:after {
    left: 3px;
    top: 3px;
    width: 9px;
    height: 5px;
    border: 2px solid $blue10;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

  /*label input:checked ~ .checkmark:after {
    border-color: $blue6;
  }*/
}

.checkbox--l {
  label {
    padding-left: 30px;
  }

  .checkmark {
    width: 18px;
    height: 18px;
  }

  .checkmark:after {
    width: 16px;
    height: 9px;
  }
}

.checkbox--muted {
  label {
    font-style: italic;
    color: $gray7;
  }

  label input:checked ~ .checkmark {
    border-color: $gray7;
  }

  label input:checked ~ .checkmark:after {
    border-color: $gray3;
  }
}

.radio.disabled {
  opacity: 0.5;

  label,
  input {
    cursor: default;
  }
}

.radio--checked--disabled {
  .checkmark {
    border: none;
  }

  span[class^='icon-'] {
    position: relative;
    left: 1px;
    top: 2px;
    color: $cyan3;
  }
}

.checkbox--inverted,
.radio--inverted {
  label {
    padding-left: 0;
    padding-right: 32px;
  }

  .checkmark {
    left: auto;
    right: 0;
  }

  &.checkbox--l {
    label {
      padding-left: 0;
      padding-right: 30px;
    }
  }
}

::placeholder {
  color: $gray6;
}

section {
  margin-bottom: 32px;
}

section.hr {
  border-bottom: 1px solid $gray9;

  &.--dark {
    position: relative;
    padding-bottom: 1px;
    border-bottom-color: $gray4;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: $gray1;
    }
  }
}

section.view-group {
  position: relative;

  .form-control {
    margin-bottom: 10px;
  }

  .btn {
    position: absolute;
    right: 12px;
    top: 1px;
  }
}

.pseudo-select {
  position: relative;
  padding-right: 50px;

  .pseudo-select__angle {
    position: absolute;
    right: 18px;
    top: 19px;
  }

  .pseudo-select__warning {
    margin-left: 8px;
    font-size: 11px;
    color: $yellow5;
  }

  &.--placeholder {
    color: $gray6;
  }

  @include hover($hoverOpacity);
}

@media (max-width: $adaptiveXS) {
  label {
    margin-bottom: 5px;
    font-size: 11px;
  }

  .checkbox,
  .radio {
    label {
      font-size: 15px;
    }
  }

  .radio .checkmark {
    width: 16px;
    height: 16px;

    &:after {
      left: 1px;
      top: 1px;
      width: 12px;
      height: 12px;
    }
  }

  input[type='text'] {
    font-size: 14px;
    height: 46px;

    // FIXME:
    &.hero-input__packed {
      height: 61px;
    }
  }

  textarea {
    font-size: 14px;
  }

  .form-control__errorMsg {
    .notice-v3 {
      top: -4px;
    }
  }
}
