.icon__wrapper {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 0;
  
  color: $gray4;
  border-radius: 50%;
  background-color: $gray10;
  border: 1px solid transparent;
  box-sizing: border-box;
  border: 1px solid transparent;
  

  &.--transition {
    transition: 
      background-color .25s ease-out, 
      border-color .25s ease-out;

    path {
      transition: opacity .25 ease-out;
    }
  }

  &.--active {
    border-color: $gray6;
    background-color: #fff;
  }
  
  .icon__wrapper__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.icon__wrapper--primary {
    background-color: $blue10;
    color: $blue6;
  }

  &.icon__wrapper--secondary {
    background-color: #fff;
    border: 1px solid $blue6;
    color: $blue4;
  }

  &.icon__wrapper--tertiary {
    background-color: #fff;
    border: 1px solid $gray7;
  }

  &.icon__wrapper--quaternary {
    background-color: #fff;
    border: 1px solid $gray8;
  }

  &.icon__wrapper--transparent {
    background-color: transparent;
    border-color: transparent;
  }

  &.icon__wrapper--cyan {
    background-color: #fff;
    border: 1px solid $cyan4;
  }


  /* SIZES */
  &.icon__wrapper--l {
    width: 32px;
    height: 32px;

    svg {
      width: 20px;
    }
  }

  &.icon__wrapper--s {
    width: 22px;
    height: 22px;
  }

  &.icon__wrapper--ss {
    width: 18px;
    height: 18px;
  }

  &.icon__wrapper--xs {
    width: 16px;
    height: 16px;

    .icon--help {
      position: relative;
      top: -1px;
      font-size: 12px;
    }
  }

  .icon--angle {
    margin-right: -1px;
  }

  .icon--angle-left {
    margin-left: -3px;
  }
}

/* CLICKABLE AREA */
.icon__wrapper--air-m {
  box-sizing: content-box;
  padding: 10px;
}

.icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}

.icon--secondary {
  color: $gray3;
}

.icon--add {
  &:before,
  &:after {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;

    width: 100%;
    height: 2px;
    margin-top: -1px;

    background-color: $gray4;
    content: '';
  }

  &:after {
    transform: rotate(-90deg);
  }

  &.icon--s {
    width: 10px;
    height: 10px;
  }

  &.icon--m {
    width: 14px;
    height: 14px;
  }

  &.icon--l {
    width: 28px;
    height: 28px;
  }

  &.icon--primary {
    &:before,
    &:after {
      background-color: $blue3;
    }
  }

  &.icon--primary-muted {
    &:before,
    &:after {
      background-color: $blue7;
    }
  }

  &.icon--primary-white {
    &:before,
    &:after {
      background-color: $blue10;
    }
  }

  &.icon--secondary {
    &:before,
    &:after {
      background-color: $gray4;
    }
  }

  &.icon--cyan {
    &:before,
    &:after {
      background-color: $cyan3;
    }
  }

  &.--clear {
    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.icon--angle {
  width: 11px;
  height: 19px;
  
  &:after {
    display: block;
    position: absolute;
    left: -5px;
    top: 3px;
    width: 11px;
    height: 11px;
    border-top: 2px solid $gray6;
    border-right: 2px solid $gray6;
    content: '';
    transform: rotate(45deg);
    border-radius: 0px;
  }

  &.icon--angle-left {
    &:after {
      left: 3px;
      transform: rotate(-135deg);
    }
  }

  &.icon--angle-bottom {
    transform: rotate(90deg);

    &:after {
      left: -5px;
    }
  }
  
  &.icon--s {
    width: 8px;
    height: 14px;
    
    &:after {
      left: -3px;
      top: 2px;
      width: 7px;
      height: 7px;
    }

    &.icon--angle-left {
      &:after {
        left: 2px;
      }
    }
  }

  &.icon--primary {
    &:after {
      border-color: $blue4;
    }
  }

  &.icon--primary2 {
    &:after {
      border-color: $blue5;
    }
  }

  &.icon--branded {
    &:after {
      border-color: $cyan3;
    }
  }
}

.icon--help {
  font-size: 14px;
}

.icon--check {
  font-size: 14px;
  color: $cyan2;

  &.icon--check--xs {
    font-size: 10px;
  }
}

@media (max-width: $adaptiveXS) {
  .icon--add {
    &.icon--s {
      width: 8px;
      height: 8px;
    }

    &.icon--m {
      width: 12px;
      height: 12px;
    }
  }

  .icon__wrapper {
    width: 24px;
    height: 24px;

    &.icon__wrapper--l {
      width: 30px;
      height: 30px;

      svg {
        width: 18px;
      }
    }
  }

  .icon--angle {
    width: 9px;
    height: 15px;

    &:after {
      width: 9px;
      height: 9px;
    }

    &.icon--s {
      margin-right: 0;
      width: 6px;
      height: 12px;

      &:after {
        width: 6px;
        height: 6px;
      }
    }
  }
}