@import './_reset.css';
@import './_normalize.css';
@import './_variables.scss';
@import './_mixins.scss';
@import './page.scss';
@import './fonts.css';
@import './type.scss';
@import './flex.scss';
@import './pill.scss';
@import './progress.scss';
@import './buttons.scss';
@import './form.scss';
@import './toggle.scss';
@import './footer.scss';
@import './layout.scss';
@import './study.scss';
@import './alert.scss';
@import './notice-v3.scss';
@import './spinner.scss';
@import './edit.scss';
@import './popup.scss';
@import './overlay.scss';
@import './overlay-v2.scss';
@import './tip.scss';
@import './icons.scss';
@import './react-select.scss';
@import './definition.scss';
@import './picker.scss';
@import './lookup.scss';
@import './cards.scss';
@import './word.scss';
@import './letter.scss';
@import './test.scss';
@import './sentence.scss';
@import './dropdown-overlay.scss';
@import './settings.scss';
@import './overlayForm.scss';
@import './review.scss';
@import './week.scss';
@import './streak.scss';
@import './backgrounds.scss';
@import './audio.scss';
@import './sidebar.scss';
@import './log.scss';
@import './references.scss';

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', 'SF UI Text', 'SF Pro Text', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $gray1;

  &.modal-open {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#v {
  position: fixed;
  left: 8px;
  bottom: 1px;
  font-size: 7px;
  color: $gray7;
  z-index: $zIndex--overlay + 1;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.--invisible {
  visibility: hidden;
}

.--visible {
  visibility: visible;
}

@media (max-width: $adaptiveXS) {
  body {
    font-size: 15px;
  }
}
