.letter {
  @extend .letter-common;

  &.--primary {
    color: #fff;
    background-color: $cyan3;

    &.--active {
      color: $gray8;
      background-color: $gray10;
      border-color: $cyan3;
    }

    &.--inactive {
      color: $gray8;
      background-color: $gray10;
    }
  }

  &.--warning {
    color: #fff;
    background-color: $yellow3;

    &.--active {
      color: $gray8;
      background-color: $gray10;
      border-color: $yellow3;
    }
  }

  &.--error {
    color: #fff;
    background-color: $red5;
  }

  &.--empty {
    &:after {
      content: '\00A0';
    }
  }

  &.--punctuation {
    @extend .letter-punctuation;
  }

  &.--comma {
    @extend .letter-comma;
  }
}

.letter-btn {
  @extend .letter-common;
  cursor: pointer;

  &.--primary {
    background-color: $blue10;
    color: $blue6;
  }

  &.--muted {
    opacity: .4;
  }

  &.--warning {
    background-color: $yellow9;
    color: $yellow3;
  }
}

/* Extends */
.letter-common {
  position: relative;
  display: inline-block;
  
  width: 31px;
  box-sizing: border-box;
  padding: 3px 0 5px 0;

  text-align: center;
  vertical-align: middle;
  line-height: 130%;
  font-size: 16px;
  font-weight: 500;
  
  border-radius: 5px;
  border: 2px solid transparent;

  outline: none;
}

.letter-punctuation {
  /* Работает в паре с letter-common */
  width: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
}

.letter-comma {
  /* Работает в паре с letter-punctuation */
  position: relative;
  left: -2px;
  padding-top: 8px;
  padding-bottom: 0;
}