.log {
  background-color: $gray1;
  border-radius: 5px;
  font-weight: 300;
  overflow: hidden;

  dl {
    font-size: 15px;
  }

  dt {
    white-space: nowrap;
    font-size: 14px;
    color: $gray7;
  }

  dd {
    color: $gray10;
  }
}

.log__wrapper {
  padding: 20px 16px 4px 16px;
}

@media (max-width: $adaptiveXS) {
}
