.lookup__summary {
  position: fixed;
  left: 3px;
  right: 3px;
  bottom: 3px;
  z-index: $zIndex--popup;
  overflow: hidden;

  background-color: #fff;

  h4 {
    span:not(.pill) {
      position: relative;
      top: -2px;
      vertical-align: middle;

      display: inline-block;
      margin-right: 10px;
      font-size: 22px;
      font-weight: 400;
      color: $blue3;
    }
  }
}

.lookup__summary__content {
  padding: 40px;
}

.lookup__summary__thesaurus,
.lookup__summary__def,
.lookup__summary__translations {
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
}

.lookup__summary__thesaurus {
  margin-top: 11px;

  & > span {
    margin-right: 16px;
  }

  svg {
    margin-bottom: -3px;
    margin-right: 4px;
    width: 15px;
  }

  path {
    fill: $gray6;
  }
}

.lookup__summary__def {
  margin-top: 19px;
  line-height: 140%;
}

.lookup__summary__def__domains {
  margin-bottom: 4px;
  font-size: 12px;
  color: $yellow3;
  font-weight: 500;
}

.lookup__summary__def__example {
  margin-top: 7px;
  font-weight: 300;
  color: $gray4;

  span:not(:last-child):after {
    content: '\0020';
  }
}

.lookup__summary__translations {
  margin-top: 19px;
  line-height: 140%;

  li {
    display: inline-block;
    margin-right: 4px;
    color: $gray1;

    &:not(:last-child):after {
      content: ',';
    }
  }
}

.lookup__summmary-trigger {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: $zIndex--popup + 1;

  width: 46px;
  height: 46px;

  text-align: center;

  &:before {
    display: block;

    position: fixed;
    right: -22px;
    bottom: -5px;
    z-index: -1;

    content: '';
    width: 66px;
    height: 33px;
    background: $cyan10;
    transform: rotate(-45deg);
  }

  button {
    padding: 0;
    width: 100%;
    border: none;
    background: transparent;
  }

  span {
    position: absolute;
    left: 23px;
    top: 22px;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  svg {
    width: 20px;
  }

  path {
    fill: $cyan3;
  }
}

.lookup__summary__available-translations {
  margin-top: 17px;
  margin-left: -12px;
  margin-right: -12px;
  padding: 16px 12px 0 12px;
  border-top: 1px solid $gray9;

  h4 {
    margin: 0 0 7px 0;
    font-size: 12px;
    color: $gray4;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }

  span {
    font-size: 14px;

    &:not(:last-child)::after {
      content: ', ';
    }
  }
}
