@import './lookup.summary.scss';

.lookup {
  --headerHeight: 68px;
  --bottomBorder: 3px;
  --manualLinkHeight: 53px;

  &:after {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: $blue6;

    content: '';
  }
}

/* Разделы */
.lookup__index,
.lookup__results,
.lookup__word {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}

.lookup__index {
  justify-content: center;
  padding: $extraMargin;
  padding-bottom: 69px;

  .notice-v3 {
    margin-bottom: 24px;
  }
}

.lookup__index__input {
  margin-bottom: 8px;

  input {
    text-align: center;
    // fix проблемы с исчезающим инпутом
    // https://stackoverflow.com/questions/36697835/ios-safari-input-text-disappearing
    // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
    transform: translate3d(0, 0, 0);
  }
}

.lookup__results {
  background-color: #fff;
  padding-bottom: calc( var(--manualLinkHeight) + var(--bottomBorder) );
}

.lookup__results__form {
  position: relative;
  margin: 0 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  
  .form-control {
    margin-bottom: 0;
  }

  input {
    padding-right: 100px;
  }

  .lookup__results__magnifier {
    position: absolute;
    top: 27px;
    right: 11px;
    color: $blue3;
    font-size: 18px;
    padding: 5px;

    &:before {
      display: inline-block;
      position: relative;
      top: -4px;
      margin-right: 9px;
      content: 'search';
      color: $blue4;
      border-bottom: 1px dotted $blue4;
      font-size: 14px;
      line-height: 100%;
    }
  }

  .lookup__results__clear {
    position: absolute;
    right: 14px;
    top: 30px;
  }

  .btn--pseudo {
    position: absolute;
    top: 16px;
    right: 43px;
  }
}

.lookup__results__suggestions,
.lookup__results__nothingFound {
  // растянуть ячейку
  flex-grow: 1;

  // отцентрировать контент вертикально и горизонтально
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
}

.lookup__results__nothingFound {
  padding-left: $extraMargin;
  padding-right: $extraMargin;
}

.lookup__results__results {
  // растянуть ячейку
  flex-grow: 1;
  position: relative;

  .lookup__results__results__wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
  }
  

  ul {
    margin: 0 16px;
    padding-bottom: 16px;
  }

  li {
    position: relative;
    padding: 15px 12px 16px 16px;
    border: 1px solid $gray9;
    border-radius: 5px;
    
    display: flex;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @include hover($hoverOpacity);
  }
  /*
  .lookup__results__results__derivative,
  .lookup__results__results__add {
    position: absolute;
    right: 0;
    top: 0;
  }
  */

  .lookup__results__results__derivative {
    /*top: 7px;*/
    margin-top: 7px;
    font-weight: 300;
    font-size: 14px;
    text-align: right;

    .btn {
      margin-left: 4px;
      font-size: 14px;
      font-weight: 400;
    }
  }

  h4 {
    position: relative;
    top: -1px;
    padding-top: 1px;
    font-size: 18px;
    font-weight: 500;
    line-height: 135%;

    span:first-child {
      margin-right: 8px;
    }
  }

  .pill {
    margin-right: 4px;
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
  }
  
  .lookup__results__results__counter {
    margin-top: 7px;
    color: $gray5;
    font-weight: 300;
    font-size: 13px;
  }

  .lookup__results__results__translations {
    margin-top: 5px;
    color: $gray1;
    font-weight: 400;
    line-height: 140%;
  }
}

.lookup__results__suggestions { 
  & > div {
    padding: 0 24px;
    text-align: center;
  }

  .text-muted {
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 300;
  }

  .btn {
    margin: 4px 5px;
  }
}

.lookup__byhand {
  position: fixed;
  bottom: 3px;
  left: 0;
  right: 0;
  text-align: center;
  height: var(--manualLinkHeight);
  background: $gray10;

  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    font-weight: 500;
    border-bottom-color: $blue3;
    color: $blue3;
  }
}

.lookup__word {
  padding-bottom: var(--bottomBorder);

  section {
    margin-bottom: 0;
  }

  section + section {
    margin-top: 50px;
  }

  footer {
    left: 16px;
    right: 16px;
    bottom: calc( 16px + var(--bottomBorder) );
    padding: 0;
    height: auto;
  }
}

.lookup__word__top {
  height: var(--headerHeight);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  box-sizing: border-box;

  .notice-v3 {
    margin-top: -3px;
    float: right;
  }

  .btn--back {
    margin-bottom: 0;
  }
}

/* Разметка разделов внутри word */
.lookup__word__definitions,
.lookup__word__examples,
.lookup__word__thesaurus,
.lookup__word__translation,
.lookup__word__final {
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 16px;
  box-sizing: border-box;
}

.lookup__word__examples,
.lookup__word__thesaurus,
.lookup__word__translation,
.lookup__word__final {
  height: calc( var(--viewportHeight) - var(--headerHeight) - var(--bottomBorder) - var(--footerHeight) );
}

.lookup__word__definitions {
  height: calc( var(--viewportHeight) - var(--headerHeight) - var(--bottomBorder) );
  padding: 0 16px;
}

.lookup__word__examples__contentWrapper,
.lookup__word__thesaurus__contentWrapper,
.lookup__word__translation__contentWrapper,
.lookup__word__final__contentWrapper {
  margin-top: auto;
  margin-bottom: auto;
}
/* */

.lookup__word__thesaurus {
  text-align: center;
  
  .definition {
    margin-bottom: 24px;
  }

  .form-control {
    margin: 0 16px;
  }

  .form-control,
  .alert {
    margin-bottom: 20px;
  }

  .btn--add {
    /* Optical compensation */
    margin-left: -10px;
  }
}

.lookup__word__translation {
  text-align: center;

  .form-control,
  .alert {
    margin-bottom: 20px;
  }
}

.lookup__word__final {
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;

  .audio {
    position: fixed;
    right: 16px;
    bottom: $footerHeight + 16px;

    .btn {
      margin-right: -8px;
    }
  }
}

.lookup__word__options {
  margin-bottom: 20px;

  li {
    display: inline-block;
    margin: 3px 5px;
  }
}

@media (max-width: $adaptiveXS) {
  .lookup {
    --headerHeight: 60px;
    --manualLinkHeight: 48px;
  }

  .lookup__results__form {
    .lookup__results__magnifier {
      top: 28px;
      font-size: 16px;
      //right: 23px;

      &:before {
        margin-right: 7px;
        font-size: 14px;
      }
    }

    .lookup__results__clear {
      top: 28px;
      //right: 24px;
    }

    input {
      padding-right: 90px;
    }
  }

  .lookup__results__results {
    li {
      //padding-right: 14px;
    }

    h4 {
      font-size: 17px;
    }

    .lookup__results__results__derivative {
      margin-top: 5px;
    }
  }

  .lookup__word__back {
    top: -3px;
  }

  .lookup__word__top {
    .notice-v3 {
      padding-top: 1px;
    }
  }

  .lookup__word__thesaurus {
    .form-control,
    .alert {
      margin-bottom: 16px;
    }
  }
}