// TODO: смерджить notice, notice_v2 и notice_v3, старые раскинуты везде по приложению, 
// v2 только в настройках
// v3 в лукапе
.notice-v3 {
  font-size: 15px;

  &.--extra {
    .notice-v3__title {
      font-weight: 500;
    }
  }
}

.notice-v3__topLine-wrapper {
  display: flex;
  align-items: center;
}

.notice-v3__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  
  border-radius: 50%;
  
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $gray10;
  color: $gray3;

  &:before {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 14px;
    content: '!'
  }
}

.notice-v3__title {
  flex-grow: 1;
  padding-left: 6px;
  //padding-top: 1px;
  line-height: 135%;
}

.notice-v3__extra {
  margin-top: 5px;
  font-size: 14px;
  line-height: 145%;
  font-weight: 300;
  color: $gray4;

  &:empty {
    display: none;
  }
}

.notice-v3--info {
  color: $cyan3;

  .notice-v3__icon {
    background: $cyan10;
    color: $cyan2;

    &:before {
      content: 'i'
    }
  }
}

.notice-v3--warning {
  color: $yellow2;

  .notice-v3__icon {
    background: $yellow9;
    color: $yellow2;
  }
}

.notice-v3--danger {
  color: $red5;

  .notice-v3__icon {
    background: $red10;
    color: $red4;
  }
}


.notice-v3--s {
  .notice-v3__icon {
    width: 18px;
    height: 18px;

    &:before {
      font-size: 12px;
    }
  }

  .notice-v3__title {
    font-size: 12px;
    font-weight: 500;
  }
}

@media (max-width: $adaptiveXS) {
  .notice-v3 {
    font-size: 14px;
  }

  .notice-v3__icon {
    width: 20px;
    height: 20px;

    &:before {
      font-size: 13px;
    }
  }

  .notice-v3__extra {
    font-size: 13px;
  }
}