.overlayForm {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  
  z-index: $zIndex--overlayPrimary;
  overflow: auto;

  padding: 24px 16px 16px 16px;
  
  background-color: #fff;

  .btn--add {
    margin-bottom: 40px;
  }
}

.overlayForm__content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .notice-v3 {
    margin-bottom: 32px;
  }
}

.overlayForm__actions {
  .btn:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media (max-width: $adaptiveXS) {
  .overlayForm__content {
    .notice-v3 {
      margin-bottom: 24px;
    }
  }
}