.overlay {
  position: fixed;
  left: 0; right: 0; 
  top: 0; bottom: 0;
  z-index: $zIndex--overlay;

  background-color: #fff;
}

.overlay--empty {
  display: none;
}

// TODO: придумать как сделать поправку на оптическое центрирование
// и для спиннера (2 строки)
// и для ошибок (1 строка)
.overlay__spinner {
  position: absolute;
  // 2.5% оптическая компенсация
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  //margin-top: $verticalCompensation;
}

.overlay__alert {
  position: absolute;
  top: 50%;
  left: $standardMargin;
  right: $standardMargin;
  transform: translateY(-50%);
  margin-top: calc( 0px - var(--footerHeight) / 2 );
}

.overlay__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}