.overlay-v2__transitionWrapper,
.overlay-v2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.overlay-v2__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  position: relative;
  overflow: hidden;
}

.overlay-v2__footer {
  padding: 12px 0;
  text-align: center;
}
