.page {
  min-height: var(--viewportHeight);
  box-sizing: border-box;
  padding-top: $standardMargin;
  padding-right: $standardMargin;
  padding-bottom: var(--footerHeight);
  padding-left: $standardMargin;

  &.page--overflow {
    height: var(--viewportHeight);
    overflow: hidden;
  }

  &.page--flex {
    display: flex;
    flex-direction: column;
  }

  &.page--xs-paddings {
    padding-left: $xsMargin;
    padding-right: $xsMargin;
  }

  &.page--extra-paddings {
    padding-top: $extraMargin;
    padding-right: $extraMargin;
    padding-bottom: $extraMargin;
    padding-left: $extraMargin;
  }

  &.page--xl-footer {
    padding-bottom: $footerHeightXL;
  }

  &.page--zero-pt {
    padding-top: 0;
  }

  &.page--zero-pb {
    padding-bottom: 0;
  }

  &.page--zero-pp {
    padding: 0;
  }
}
