// используется в лукапе и редактировании оксфорд-карточек
// на данный момент должен быть прямым потомком page--flex
// остальной контент должен прятаться
// TODO: наверное нехорошо, что весь контент ререндерится?
.picker {
}

.picker__title {
  margin-bottom: 24px;
  line-height: 140%;
  font-family: 'Roboto Slab', serif;
}

.picker__input {
  margin-bottom: 0;
}

.picker__add {
  margin-bottom: 40px;
}

.picker__list {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid $gray9;

  li {
    position: relative;
  }

  li:not(:last-child) {
    margin-bottom: 16px;
  }
  
  .form-control {
    margin-bottom: 0;
  }

  .radio {
    label {
      font-weight: 300;
      padding-right: 68px;
    }
  }

  .picker__list__shorten {
    position: absolute;
    right: 30px;
    top: -1px;
    z-index: 1;
  }  

  label {
    font-family: 'Roboto Slab', serif;

    span:not(:last-child):after {
      content: '\0020';
    }
  }
}

.picker__nothing {
  padding-bottom: 16px;
  border-bottom: 1px solid $gray9;
  font-size: 14px;
  color: $gray4;
}

.picker__list__token {
  &:not(.--active) {
    color: $gray7;
    @include custom-underline($gray9, 100% 2px, center 60%);
  }
}

.picker__shorten {
  margin-bottom: 30px;

  li {
    display: inline-block;
    padding-bottom: 12px;
    
    &:not(:last-child):after {
      display: inline-block;
      content: '';
      width: 8px;
    }
  }

  .btn {
    color: $gray1;
    border-bottom: 1px dotted $gray1;
    font-weight: 300;
    font-size: 30px;
  }

  .btn.--inactive {
    border-bottom-color: transparent;
    color: $gray7 !important;
    @include custom-underline($gray9, 100% 2px, center 60%);
  }

  .btn.--wordTitle {
    border-bottom: none;
    font-weight: 400;

    &:hover {
      cursor: text;
      opacity: 1;
    }
  }
}

.picker__actions {
  margin-top: 32px;
  text-align: center;
}

@media (max-width: $adaptiveXS) {
  .picker__title {
    font-size: 16px;
    margin-bottom: 22px;
  }

  .picker__list {
    padding-bottom: 12px;
    //margin-bottom: 42px;

    .picker__list__shorten {
      right: 26px;

      .icon {
        font-size: 13px;
      }
    }

    li:not(:last-child) {
      margin-bottom: 12px;
    }

    .radio {
      label {
        padding-right: 64px;
      }
    }
  }

  .picker__shorten {
    .btn {
      font-size: 28px;
    }
  }
}