.pill {
  display: inline-block;
  padding: 2px 7px 4px 7px;
  vertical-align: middle;
  
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  
  border-radius: 8px;
  background-color: #EFF1F4;
  border: 1px solid #C2CBD3;
  color: $gray1;
}

.pill--s {
  padding-top: 3px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 3px;
  font-size: 11px;
}

.pill--adjective {
  background-color: $cyan10;
  border-color: $cyan7;
  color: $cyan1;
}

.pill--adverb {
  background-color: #FDF1FE;
  border-color: #F5C8F8;
  color: #700545;
}

.pill--conjunction {
  background-color: $yellow10;
  border-color: $yellow6;
  color: $yellow1;
}

.pill--interjection {
  background-color: #E6FCDE;
  border-color: #9CE483;
  color: #2D7203;
}

.pill--noun {
  background-color: #F1EBFF;
  border-color: #D2BFFB;
  color: #440570;
}

.pill--preposition {
  background-color: #FCFCE6;
  border-color: #CDCD3B;
  color: #6A6408;
}

.pill--pronoun {
  background-color: #FFE9E9;
  border-color: #FCBCBC;
  color: $red1;
}

.pill--verb {
  background-color: $blue9;
  border-color: $blue7;
  color: $blue1;
}

@media (max-width: $adaptiveXS) {
  .pill {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 1px;
  }
}