.dim__transition-wrapper {
  position: relative;
  z-index: $zIndex--dim;
}

.dim {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  z-index: $zIndex--dim;
  background-color: $gray2;
  opacity: .8;
}

.popup {
  position: fixed;
  z-index: $zIndex--popup;
  text-align: center;
}

.popup__section {
  border-radius: 12px;
  background-color: #fff;

  li {
    border-bottom: 1px solid $gray9;

    .btn {
      padding: 17px 0;
    }
  }
}

// разные модификации попапов
// popup--actions — прилипает к нижней кромке экрана
// popup--confirmation - центрируется вертикально и имеет другие особенности
.popup--actions {
  left: 8px; 
  right: 8px;
  bottom: 8px; 

  .popup__section:not(:last-child) {
    margin-bottom: 10px;
  }
}

.popup--confirmation {
  left: 18px;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);

  h6 {
    padding: 17px 20px;
    font-size: 1em;
    font-weight: 700;
    border-bottom: 1px solid $gray9;

    small {
      display: block;
      margin-top: 8px;
      padding: 0 20px;
      color: $red6;
      font-weight: normal;
      line-height: 1.2em;
    }
  }

  ul { 
    display: flex;
    flex-direction: row;

    li {
      flex-basis: 100%;
      border-bottom: none;
    }

    li:first-child {
      border-right: 1px solid $gray9;
    }
  }
}

// транзишены
.popup-transition-actions-enter,
.popup-transition-actions-appear {
  bottom: -200px;
}

.popup-transition-actions-enter-active,
.popup-transition-actions-appear-active {
  bottom: 8px;
  transition: bottom .25s ease-in-out;
}

.popup-transition-actions-leave {
  bottom: 8px;
}

.popup-transition-actions-leave-active {
  bottom: -200px;
  transition: bottom .15s ease-in-out;
}

.popup-transition-confirmation-enter {
  opacity: 0;
  margin-top: -50px;
}

.popup-transition-confirmation-enter-active {
  opacity: 1;
  margin-top: 0;
  transition: all .25s ease-in-out;
}

.popup-transition-confirmation-leave {
  opacity: 1;
  margin-top: 0;
}

.popup-transition-confirmation-leave {
  opacity: 0;
  margin-top: -50px;
  transition: all .15s ease-in-out; 
}