.progress {
  position: relative;
  margin-bottom: 8px;
  height: 4px;
  border-radius: 2px;
  background-color: $gray9;
}

.progress__bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: $blueGradientFallback;
  background: $blueGradient;
  transition: width 500ms ease-out;
}