// select
// https://github.com/jedwatson/react-select
.react-select {
  .react-select__control {
    //height: 54px;
    border: 1px solid $gray10;
    background: $gray10;
    border-radius: 5px;

    font-size: 16px;
    line-height: 135%;
    color: $gray1;
  }

  .react-select__control--is-focused {
    border-radius: 4px;
    box-shadow: none;
    border-color: $blue8;
    outline: none;
  }

  .react-select__control--menu-is-open {
    border-radius: 2px 2px 0 0;
  }

  .react-select__value-container {
    padding: 10px 14px 19px 10px;
  }

  .react-select__indicator {
    color: $gray6;
  }

  .react-select__indicator-separator {
    visibility: hidden;
  }

  .react-select__menu {
    top: 37px;
    box-shadow: none;
    border: 1px solid $blue8;
    border-radius: 0 0 4px 4px;
  }

  .react-select__menu-list {
    padding: 0;
  }

  .react-select__option {
    padding: 12px 17px 12px 10px;
    font-size: 16px;
    line-height: 135%;
  }

  .react-select__option--is-selected {
    background-color: #fff;
    font-weight: 700;
    color: $gray2;
  }

  .react-select__option--is-focused {
    background-color: $gray95;
  }
}

@media (max-width: $adaptiveXS) {
  .react-select {
    .react-select__control {
      font-size: 14px;
    }

    .react-select__value-container {
      //padding: 8px 14px 12px 10px;
      padding-top: 13px;
      padding-bottom: 15px;
    }

    .react-select__option {
      font-size: 14px;
    }

    .react-select__indicator {
      svg {
        width: 16px;
      }
    }
  }

  
}