.review {
}

.review__front {
  margin-bottom: 22px;

  .pill {
    margin-bottom: 11px;
  }

  h1 {
    margin: 0;
    font-size: 26px;
    font-weight: 500;

    & > span:first-child {
      margin-right: 8px;
    }

    &.--xl {
      font-size: 32px;
    }
  }

  .notice-v3 {
    margin-top: 8px;
  }
}

.review__front__ancillary {
  margin-top: 8px;
}

.review__front__thesaurus {
  display: inline-block;
  margin-right: 20px;
  margin-top: 8px;
  font-size: 14px;
  font-family: 'Roboto Slab', serif;

  & > span:not(:last-child) {
    margin-right: 16px;
  }

  svg {
    margin-top: 1px;
    margin-bottom: -3px;
    margin-right: 4px;
    width: 15px;
  }

  path {
    fill: $gray6;
  }
}

.review__front__hint {
  display: inline-block;
  margin-top: 6px;

  & > span {
    margin-right: 8px;
    font-size: 14px;
  }

  .icon-lightbulb-o {
    position: relative;
    top: 2px;
    margin-right: 2px;
    font-size: 14px;
    color: $gray6;
  }

  .btn--pseudo {
    font-size: 14px;
  }
}

.review__definition {
  margin-left: -24px;
  margin-right: -24px;
  padding: 20px 24px;

  border-top: 1px solid $gray9;
  border-bottom: 1px solid $gray9;

  background: $gray10;

  &.--defHighlight {
    .review__definition__def {
      font-size: 20px;
      color: $cyan3;
    }
  }
}

.review__definition__translation {
  word-break: break-word;
  hyphens: auto;
}

h2.review__definition__translation {
  //margin-bottom: 16px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 30px;
  color: $cyan3;
}

div.review__definition__translation {
  margin-top: 14px;
  font-size: 14px;
  color: $gray3;
}

.review__definition__translation + .review__definition__def,
.review__definition__translation + .review__definition__domains {
  margin-top: 16px;
}

.review__definition__def {
  font-family: 'Roboto Slab', serif;
  line-height: 140%;
  font-size: 14px;
}

.review__definition__domains {
  margin: 0 0 4px 0;
  font-size: 12px;
  color: $yellow3;
}

.review__example {
  margin-top: 22px;
  font-family: 'Roboto Slab', serif;

  p {
    @include quote($gray7);
    font-style: normal;
    font-size: 14px;
    color: $gray3;

    span {
      font-family: 'Roboto Slab', serif;
    }

    span:not(:last-child):after {
      content: '\0020';
    }

    .--wordTitle {
      font-weight: 600;
      color: $blue3;
    }
  }
}

@media (max-width: $adaptiveXS) {
  .review__front {
    h1 {
      font-size: 22px;

      &.--xl {
        font-size: 26px;
      }
    }
  }

  h2.review__definition__translation {
    font-size: 26px;
  }

  .review__definition {
    padding-top: 16px;
    padding-bottom: 18px;

    &.--defHighlight {
      .review__definition__def {
        font-size: 18px;
      }
    }
  }

  .review__definition__translation + .review__definition__def,
  .review__definition__translation + .review__definition__domains {
    margin-top: 14px;
  }

  .review__example {
    margin-top: 18px;
  }
}
