.sentence {
  margin-top: -4px;
  margin-bottom: -4px;

  .letter {
    margin: 4px;
  }

  .word {
    margin-top: 4px;
    margin-bottom: 4px;

    &.--active,
    &.--inactive {
      margin-left: 4px;
      margin-right: 4px;
    }

    & + .--active {
      margin-left: 8px;
    }

    .--xxl {
      margin-left: 0;
      margin-right: 0;   
    }
  }

  /*
  &.--compact {
    .word {
      margin-left: 0;
      margin-right: 0;
    }

    .word.--active {
      margin-left: 8px;
    }
  }*/

  &.--underlined {
    margin-top: -10px;
    padding-bottom: 6px;
    line-height: 48px;
  }
}

.sentence__underline-wrapper {
  display: inline;
  padding-bottom: 16px;
  @include custom-underline($gray9, 100% 1px, center bottom);
}