.settings {
  .footer--static {
    flex: 0 0 auto;
    margin-bottom: 6px;
  }

  .footer--static,
  .settings__form {
    margin-left: 16px;
    margin-right: 16px;
  }

  .notice-v3 {
    margin-bottom: 12px;
  }

  section {
    margin-bottom: 24px;
    //padding-bottom: 0px;
  }

  h3 {
    margin-bottom: 13px;
  }

  .toggle {
    margin-bottom: 14px;
  }
}

.settings__form {
  margin-top: 32px;
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.settings__border {
  position: fixed;
  height: 6px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e4f2fe;
}

@media (max-width: $adaptiveXS) {
}
