.sidebar,
.sidebar__wrapper,
.sidebar__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 260px;
  padding: 43px 0 16px 0;
  box-sizing: border-box;
  z-index: $zIndex--overlay;
  background-color: $gray2;
}

.sidebar__wrapper {
  flex-grow: 1;
}

.sidebar__form__wrapper,
.sidebar__action {
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__form__wrapper {
  padding-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.sidebar__form {
  position: relative;
  overflow-y: auto;

  &:before {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 16px;
    background: linear-gradient(
      0deg,
      rgba(50, 69, 75, 0) 0%,
      rgba(50, 69, 75, 1) 100%
    );
  }

  &:after {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(
      0deg,
      rgba(50, 69, 75, 1) 0%,
      rgba(50, 69, 75, 0.65) 50%,
      rgba(50, 69, 75, 0) 100%
    );
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 16px;
    color: $gray7;
  }

  .toggle {
    margin-top: -3px;
    margin-bottom: 14px;
  }

  section {
    margin-bottom: 24px;
  }

  dl {
    color: #fff;
  }

  dt,
  dd {
    margin-bottom: 16px;
  }

  .log {
    margin-top: -4px;
  }
}

.sidebar__logLink {
  span {
    margin-left: 4px;
  }

  svg {
    vertical-align: middle;
    width: 14px;
  }

  path {
    fill: #fff;
  }
}

.sidebar__close {
  position: absolute;
  right: 16px;
  top: 16px;
}

@media (max-width: $adaptiveXS) {
}
