.spinner {
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}

.spinner__spinner {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  
  
  &:before {
    display: block;
    width: 24px;
    height: 24px;
    
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    
    content: '';
    
    border-radius: 50%;
    border: solid 1px $gray8;
    background-color: #fff;
    
    box-sizing: border-box;
  }

  &:after {
    display: block;
    width: 23px;
    height: 22px;

    position: absolute;
    left: -11px;
    top: 13px;
    z-index: 9;
    
    content: '';
    
    background: linear-gradient(-90deg, #BCC2C8 38.6%, rgba(196, 196, 196, 0) 74%);
    transform: rotate(-45deg);
    opacity: 0;
    transition: opacity .5s ease-in;
  }

  &.--shadow {
    &:after {
      opacity: .2;
    }
  }

  .spinner__spinner__inner {
    position: absolute;
    z-index: 10;
    left: 6px;
    top: 6px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: linear-gradient(225deg, #CAD1D8 14.58%, rgba(196, 196, 196, 0) 122.92%);
    opacity: 0.6;
  }

  .spinner__spinner__dot {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    animation: spinner 1.5s infinite linear;
    z-index: 11;

    &:after {
      position: absolute;
      left: 10px;
      top: 2px;
      
      display: block;
      width: 3px;
      height: 3px;

      border-radius: 50%;
      background-color: $blue7;
      content: '';
    }
  }
}

.spinner__text {
  margin-top: 13px;
  color: $gray6;
  font-size: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.spinner--plain { 
  position: relative;
  width: 26px;
  height: 26px;
  background-color: $gray10;
  border-radius: 50%;
  animation: spinner 1.5s infinite linear;

  &:after {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 6px;
    
    display: block;
    width: 3px;
    height: 3px;

    border-radius: 50%;
    background-color: $blue4;
    content: '';
  }

  &.--s {
    width: 22px;
    height: 22px;

    &:after {
      top: 4px;
    }
  }

  &.--l {
    width: 32px;
    height: 32px;
  }

}

@keyframes spinner { 100% {transform:rotate(360deg)} }