.streak {
  margin-top: 28px;
  text-align: center;
  font-size: 14px;
  line-height: 145%;
}

.streak__title {
  margin-left: -8px;
  font-weight: 400;
  color: $yellow2;
  text-transform: uppercase;

  svg {
    position: relative;
    top: -1px;
    margin-right: 2px;
    width: 22px;
    vertical-align: middle;
  }

  path {
    fill: $yellow5;
  }
}

.streak__copy {
  margin-top: 3px;
  color: $gray3;
  font-weight: 300;
}

@media (max-width: $adaptiveXS) {
  .streak {
    margin-top: 24px;
    font-size: 13px;
  }

  .streak__title {
    svg {
      width: 20px;
    }
  }

  .streak__copy {
    margin-top: 2px;
  }
}
