@import './study.header.scss';
@import './study.footer.scss';

.study {
  --headerHeight: 56px;
  padding: 0;
}

.study__content__transitionWrapper,
.study__content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}

.study__content {
  // костыль, имитирующий опасити на svg карточек в фоне
  .study__header,
  .study__card,
  footer {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.study__card {
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;

  padding-left: 24px;
  padding-right: 24px;

  height: calc(
    var(--viewportHeight) - var(--headerHeight) - var(--footerHeight)
  );

  .review {
    text-align: left;
  }
}

.study__card__wrapper {
  margin: auto 0;
  text-align: center;
  @include optical(4);
}

.study__actions {
  position: fixed;
  right: 12px;
  bottom: $footerHeight + 14px;

  display: flex;
  flex-direction: column;

  .btn {
    margin-right: -8px;
  }
}

.study__domain {
  font-size: 11px;
  font-weight: 500;
  color: $yellow3;
  text-transform: uppercase;
}

.study__hint {
  margin-top: 16px;
  margin-bottom: 0;
  color: $gray4;
  font-weight: 300;
  font-size: 14px;

  .icon-lightbulb-o {
    position: relative;
    top: 3px;
    margin-right: 1px;
    margin-left: -8px;
    color: $gray6;
    font-size: 16px;
  }
}

.study__front__ancillary {
  height: 0;
  overflow: hidden;
}

.study__thesaurus {
  padding-top: 8px;

  dl {
    margin: 0 auto 0 auto;
    padding: 16px 0 0 0;
  }

  dt {
    margin-bottom: 7px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8%;
    color: $gray6;
  }

  dd {
    font-size: 14px;
    font-weight: 600;
    color: $gray4;
  }
}

.study__front {
  box-sizing: border-box;
  text-align: center;
}

.study__front__pill {
  margin-bottom: 10px;
}

.study__front__title {
  font-size: 42px;
  line-height: 118%;
  word-break: break-word;
  hyphens: auto;
}

.study__front__domains {
  margin-top: 10px;
}

/*
.study__translation {
  padding: 18px 24px 24px 24px;
  background: $gray10;
  color: $cyan2;
  font-weight: 500;
  font-size: 36px;
  line-height: 118%;
  word-break: break-word;
  hyphens: auto;

  &.--compact {
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 18px;
    line-height: 125%;
  }

  .study__domain {
    margin-top: -6px;
    margin-bottom: 0;
  }
}
*/

/* Intro / Done */
.study__intro,
.study__done {
}

.study__intro__stats {
  margin-bottom: 44px;
  text-align: center;

  ul {
    display: inline-block;
    margin: 0 0 8px 0;
    padding: 0 31px 16px 49px;
    border-bottom: 1px solid $gray9;
    font-size: 14px;
    color: $gray3;

    li {
      line-height: 200%;
      text-align: right;
      font-weight: 300;

      span {
        display: inline-block;
        width: 24px;
        padding-left: 20px;
        text-align: left;
        font-weight: 400;
      }
    }
  }

  h1 {
    margin: 0;

    span {
      font-size: 16px;
    }

    .study__intro__stats__total {
      display: block;
      padding-top: 6px;
      font-size: 36px;
      font-weight: 600;
      color: $blue4;
    }
  }
}

.study__intro__estimated {
  border-top: 1px solid $cyan-border;
  border-bottom: 1px solid $cyan-border;
  background-color: $cyan10;

  font-size: 14px;
  font-weight: 300;
  line-height: 165%;
  color: $gray2;
  text-align: center;

  strong {
    display: block;
    color: $cyan2;
    font-weight: 500;
  }

  &.--warning {
    border-color: $yellow8;
    background-color: $yellow10;

    strong {
      color: $yellow2;
    }
  }

  &.--danger {
    border-color: $red9;
    background-color: $red11;

    strong {
      color: $red3;
    }
  }
}

.study__intro__estimated__wrapper {
  padding: 15px 28px;
}

.study__done {
  .study__done__stats,
  .study__done__note {
    margin-top: 28px;
  }
}

.study__done__note {
  padding: 24px 0;
  background-color: $blue10;
  text-align: center;
  font-size: 14px;
  color: $gray3;

  p {
    margin-bottom: 0;
    line-height: 165%;
  }
}

.study__onfire {
  white-space: nowrap;
  text-align: center;

  h2 {
    margin-bottom: 22px;
    font-size: 32px;
    font-weight: 300;
    color: $yellow2;
  }

  h3 {
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 18px;
    color: $yellow2;
    text-transform: uppercase;
  }

  svg {
    width: 148px;
  }
}

.study__onfire + .study__done__note {
  margin-top: 28px;
}

@media (max-width: $adaptiveXS) {
  .study__intro__stats {
    margin-bottom: 32px;

    ul {
      margin-bottom: 6px;
      padding-bottom: 12px;
    }
  }

  .study__front__title {
    font-size: 37px;
  }

  .study__intro__stats {
    ul {
      font-size: 13px;
    }

    h1 {
      span {
        font-size: 15px;
      }

      .study__intro__stats__total {
        font-size: 32px;
      }
    }
  }

  .study__intro__estimated {
    font-size: 13px;
  }

  .study__intro__estimated__wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .study__done__note {
    font-size: 13px;
  }

  .study__actions {
    bottom: $footerHeight + 8px;
  }

  .study__done {
    .study__done__stats,
    .study__done__note {
      margin-top: 24px;
    }

    .study__done__note {
      padding: 20px 0;
    }
  }

  .study__onfire {
    h2 {
      margin-bottom: 19px;
      font-size: 28px;
    }

    h3 {
      margin-top: 12px;
      font-size: 16px;
    }

    svg {
      width: 132px;
    }
  }
}
