.study__header {
  position: relative;
  height: var(--headerHeight);
  padding: 8px 12px 16px 12px;
  box-sizing: border-box;

  .btn--pseudo {
    position: absolute;
    right: 12px;
    bottom: 16px;
    margin-top: 4px;
  }
}

/*
.study__header__help {
  position: absolute;
  left: 12px;
  top: 24px;
  text-align: center;
  font-size: 14px;
  color: $gray4;
  padding-bottom: 4px;
  
  display: flex;
  justify-content: center;
}
*/