.test {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

.test__title,
.test__description {
  position: fixed;
  left: 8px;
  font-size: 12px;
  text-align: left;
  line-height: 135%;
}

.test__title {
  top: 26px;
  font-weight: 500;
}

.test__description {
  top: 46px;
  color: $gray6;
  font-weight: 300;
  width: 60%;
}

.test__content {
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.test__content__example {
  font-size: 16px;
  font-weight: 300;

  @include quote($gray7);
  
  span {
    @extend .test__custom-underline;
  }
}

.test__content__word-definition {
  padding: 14px 16px 19px 16px;
  line-height: 135%;
  font-weight: 300;
  border: 1px solid $gray9;
  border-radius: 4px;
}

.test__content__word-definition__word {
  font-size: 20px;
  color: $cyan3;
}

.test__content__word-definition__definition {
  margin-top: 7px;
  font-size: 16px;
}

.test__content__definition {
  font-size: 16px;
  font-weight: 500;
  line-height: 135%;

  span {
    @extend .test__custom-underline;
  }
}

.test__content__word-translation {
  font-size: 22px;
  font-weight: 300;
  
  .test__content__word-translation__separator {
    display: block;
    height: 4px;
    background: none;
  }

  &.--compact {
    .test__content__word-translation__separator {
      @extend .test__custom-underline;

      span {
        padding: 0 16px;
        background: url(../styles/images/arrow.svg) center 60% no-repeat;
      }
    }
  }
  
  .test__content__word-translation__word,
  .test__content__word-translation__translation {
    display: inline;
  }

  &:not(.--nounderline) {
    .test__content__word-translation__word,
    .test__content__word-translation__translation {
      @extend .test__custom-underline;
    }
  }

  &.--small {
    .test__content__word-translation__word,
    .test__content__word-translation__translation {
      font-size: 20px;
    }

    .test__content__word-translation__separator {
      span {
        background-position: center 65%;
      }
    }
  }
}

.test__content__word-translation__word {
  color: $cyan3;
}

.test__content__or {
  margin-top: 8px;
  font-size: 13px;
  color: $gray6;
  text-align: center;

  background-image: linear-gradient($gray9, $gray9);
  background-size: 1px 100%;
  background-repeat: no-repeat;
  background-position: center center;

  span {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 11px;
    padding-bottom: 3px;
    background-color: #fff;
  }
}

.test__content__blank {
  margin-top: 8px;
  width: 100%;
  box-sizing: border-box;

  &.--only {
    margin-top: 0;
  }

  .sentence {
    margin-left: -4px;
    margin-right: -4px;
  }
}

.test__content__success {
  @extend .test__content__icon;
  border-color: $cyan3;

  .icon-check {
    margin-bottom: -5px;
    font-size: 28px;
    color: $cyan2;
    @include gradient-text($cyanGradient);
  }

  &.--s {
    @extend .test__content__icon--s;

    .icon-check {
      font-size: 18px;
    }
  }
}

.test__content__audio {
  button {
    @extend .test__content__icon;
    align-items: center;
    border-color: $gray9;
    background-color: $gray10;
  }

  .icon {
    margin-bottom: -4px;
    margin-right: -2px;
    font-size: 24px;
    color: $gray5;
  }

  &.--active {
    button {
      border-color: $cyan3;
    }

    .icon {
      color: $cyan3;
    }
  }
}

.test__content__skip {
  margin-top: 24px;
}

.test__footer {
  min-height: 64px;
  padding: 12px 28px;
  box-sizing: border-box;
  //direction: rtl;

  .word-btn,
  .letter-btn, {
    margin: 4px;
  }

  &.--success {
    padding: 8px;
  }
}

/* Extends */
.test__custom-underline {
  display: inline;
  padding-bottom: 1px;
  line-height: 135%;
  @include custom-underline($gray9, 100% 1px, center bottom)
}

.test__content__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
  box-sizing: border-box;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
}

.test__content__icon--s {
  @extend .test__content__icon;
  width: 48px;
  height: 48px;
  border-width: 2px;
}