.tip {
  position: fixed;
  left: 0; right: 0; 
  top: 0; bottom: 0;
  z-index: $zIndex--tip;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: #fff;

  display: flex;
}

.tip__content {
  // flex margin auto трюк, вместо align-items: center; или justify-content: center; у родителя
  // для случаев когда контент оверфловится и обрезается контейнером
  margin: auto;
  padding: 40px;
}

.tip__secondary {
  margin-bottom: 24px;
  color: $gray7;
}

.tip__checkbox {
  margin-bottom: 24px;
}