.toggle {
  margin-bottom: 17px;

  label {
    display: flex;
    align-items: center;

    margin: 0;
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    font-weight: normal;
    color: $gray2;

    //https://stackoverflow.com/questions/5106934/prevent-grey-overlay-on-touchstart-in-mobile-safari-webview
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  input {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.toggle.--active {
  .toggle__switch {
    background-color: $blue6;

    &::before {
      transform: translateX(20px);
    }
  }
}

.toggle.--dark {
  .toggle__text {
    color: #fff;
  }

  .toggle__switch {
    background-color: $gray4;
  }

  &.--active {
    .toggle__switch {
      background-color: $blue4;
    }
  }
}

.toggle__text {
  flex-grow: 1;
  padding-right: 16px;
}

.toggle__switch {
  position: relative;
  width: 49px;
  height: 29px;
  vertical-align: middle;
  border-radius: 44.5px;
  background: $gray8;
  transition: transform 0.4s;

  flex-shrink: 0;

  &::before {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    content: '';
    transition: 0.4s;
  }
}

@media (max-width: $adaptiveXS) {
  .toggle {
    label {
      font-size: 15px;
    }
  }

  .toggle__switch {
    width: 45px;
    height: 25px;

    &::before {
      width: 21px;
      height: 21px;
    }
  }
}
