a {
  color: $link;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

a.delete {
  color: $red3;
}

h2 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  color: $blue4;
}

h3 {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;

  &.--uppercased {
    font-size: 14px;
    color: $gray6;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

p {
  margin-bottom: 12px;
  line-height: 135%;

  &.muted {
    color: $gray7;
  }
}

small {
  font-size: 14px;

  &.small_xxs {
    font-size: 10px;
    line-height: 1;
  }
}

.text-center {
  text-align: center;
}

.text-muted {
  color: $gray6;
}

.text-danger {
  color: $red5;
}

.text-warning {
  color: $yellow3;
}

dl.--flex {
  display: flex;
  flex-wrap: wrap;

  dt {
    width: 70%;
  }
  dd {
    width: 30%;
    text-align: right;
  }

  &.--reversed {
    flex-direction: row-reverse;

    dt {
      text-align: right;
    }

    dd {
      text-align: left;
    }
  }
}

@media (max-width: $adaptiveXS) {
  h3 {
    font-size: 15px;

    &.--uppercased {
      font-size: 13px;
    }
  }
}
