.week {
  padding: 20px 0 7px 0;
  background-color: $blue10;
}

.week__list {
  display: flex;
  padding: 5px 0;
  justify-content: center;
}

.week__item {
  padding: 0 7px;
  text-align: center;

  span {
    display: block;
    margin-bottom: 9px;
    font-size: 13px;
    text-transform: uppercase;
    color: $gray3;
  }

  svg {
    width: 22px;
  }

  path {
    fill: $gray8;
  }

  &.--active {
    path {
      fill: $cyan3;
    }
  }
}

@media (max-width: $adaptiveXS) {
  .week {
    padding-top: 16px;
    padding-bottom: 3px;
  }

  .week__item {
    span {
      font-size: 12px;
    }
    svg {
      width: 20px;
    }
  }
}
