.word {
  @extend .word-common;

  &.--primary {
    color: #fff;
    background-color: $cyan3;
  }

  &.--info {
    color: $cyan3;
    background-color: $cyan10;
  }

  &.--active,
  &.--inactive {
    color: $gray8;
    background-color: $gray10;
  }

  &.--active {
    border-color: $cyan3;
  }

  &.--bold {
    font-weight: 600;
  }

  &.--clean-left,
  &.--toothy-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &.--clean-right,
  &.--toothy-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.--clean-both,
  &.--toothy-both {
    border-radius: 0;
  }

  &.--clean-left {
    padding-left: 0px;
  }
  &.--clean-right {
    padding-right: 0px;
  }
  &.--clean-both {
    padding-left: 0;
    padding-right: 0;
  }

  &.--toothy-left {
    padding-left: 8px;

    &:after {
      @extend .toothy-after;
      @extend .toothy-left;
    }
  }

  &.--toothy-right {
    padding-right: 8px;

    &:after {
      @extend .toothy-after;
      @extend .toothy-right;
    }
  }

  &.--toothy-both {
    padding-left: 8px;
    padding-right: 8px;

    &:after {
      @extend .toothy-after;
      @extend .toothy-left;
    }

    &:before {
      @extend .toothy-after;
      @extend .toothy-right;
    }
  }

  &.--xs,
  &.--s,
  &.--m,
  &.--l,
  &.--empty-block {
    &:after {
      content: '\00A0';
    }
  }

  /* 1-3 */
  &.--xs {
    min-width: 32px;
  }

  /* 4-7 */
  &.--s {
    min-width: 54px;
  }

  /* 8-11 */
  &.--m {
    min-width: 75px;
  }

  /* 12+ */
  &.--l {
    min-width: 96px;
  }

  /* Целая пустая строка */
  &.--empty-block {
    display: block;
    padding-top: 10px;
    padding-bottom: 13px;
  }

  /* Целая строка с текстом */
  &.--content-block {
    max-width: 85%;
    padding-top: 6px;
    padding-bottom: 10px;
    line-height: 135%;
  }

  &.--quote {
    @extend .quote-extend;

    &:before,
    &:after {
      color: $cyan9;
    }
  }
}

.word-btn {
  @extend .word-common;

  cursor: pointer;
  white-space: nowrap;

  &.--primary {
    color: $blue6;
    background-color: $blue10;
  }

  &.--warning {
    color: $yellow3;
    background-color: $yellow9;
  }

  &.--bold {
    font-weight: 600;
  }

  &.--block {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: normal;
    text-align: left;
  }

  &.--quote {
    @extend .quote-extend;    
  }
}

/* Extends */
.word-common {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 130%;
  font-size: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2px 9px 3px 9px;
  border: 2px solid transparent;
}

.toothy-after {
  display: block;
  width: 4px;
  position: absolute;
  top: -2px;
  bottom: -2px;
  content: '';
  background-position: top center, top center;
  background-size: 4px 4px, 4px 4px;
  background-repeat: repeat-y;
}

.toothy-left {
  left: -2px;
  // https://medium.com/coding-design/saw-tooth-banners-with-css-95c31e91c196
  background-image: 
    linear-gradient(-225deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%),
    linear-gradient(225deg,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
}

.toothy-right {
  right: -2px;
  // https://medium.com/coding-design/saw-tooth-banners-with-css-95c31e91c196
  background-image: 
    linear-gradient(225deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 50%),
    linear-gradient(-225deg,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%);
}

.quote-extend {
  @include quote($blue8);
  padding-left: 19px;
  padding-right: 19px;
}