/* Root */
:root {
  --gray1: #1B2529;
  --gray3: #3E5259;
  --gray6: #7B8E94;
  --gray7: #9AABB1;
  --gray10: #F5F8FA;
  /* custom tinge, TODO: incorporate or replace */
  --gray925: #EBEEEF;
  
  --blue1: #034F69;
  --blue2: #0D6481;
  --blue4: #277D9A;
  --blue5: #3494B4;
  --blue8: #BCE2ED;
  --blue9: #DEF2F8;
  --cyan3: #099AA4;
  
  --cyanGradient: linear-gradient(90deg, #0FB5BA, #07818F);
  --cyanGradientFallBack: var(--cyan3);

  --transitionTime: 275ms;
  --transitionTime--s: calc( var(--transitionTime) / 2 );
  --zIndex-overlay: 100;
}

html {
  font-family: "Inter", "Roboto", "SF UI Text", "SF Pro Text", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  color: var(--gray3);

  background-color: #fff;
}

html, 
body {
  height: 100%;
}

/* Misc */
.hidden {
  display: none !important;
}

.svg-container {
  position: relative;
  height: 0;
  /* responsive transition */
  transition: width var(--transitionTime) ease-out;
}

.svg-container svg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* Type */
h1, h2, h3 {
  font-weight: 600;
  color: var(--blue2);
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}

h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 16px;
}

p {
  margin: 0 0 15px 0;
}

p.note {
  font-size: 14px;
  font-style: italic;
}

p.note strong {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

p + h3 {
  margin-top: 25px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  transition: transform var(--transitionTime) ease-out;
}

a:focus {
  transform: scale(1.08);
}

a:hover {
  text-decoration: none;
}

.hero-title {
  display: inline-block;
  margin: 70px 0 60px 0;
  
  color: var(--gray1);
  font-size: 80px;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -4px;

  /* responsive transition */
  transition: font-size var(--transitionTime) ease-out;
}

section {
  margin-bottom: 60px;
}

/* Form Components */
.btn {
  display: inline-block;
  padding: 0;
  box-sizing: border-box;

  border: none;
  background: none;
}

.btn:focus {
  outline: none;
  transform: scale(1.08);
  transition: transform var(--transitionTime) ease-out;
}

.btn__wrapper {
  display: flex;
}

.btn:hover {
  cursor: pointer;
}

.btn--hero {
  position: relative;
  overflow: hidden;
  z-index: 1;

  padding: 0 60px;
  
  font-weight: 900;
  font-size: 31px;
  text-align: center;
  color: #fff;
  
  border-radius: 50px;
  
  /* responsive + focus transitions */
  transition: font-size var(--transitionTime) ease-out, 
              transform var(--transitionTime) ease-out;
  
  /* clipped background fix, safari */
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.btn--hero::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue5);
  content: '';
  z-index: -2;
  
  /* jumping content fix, safari */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/will-change */
  will-change: transform;
}

.btn--hero::after {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--blue4);
  content: '';
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 275ms ease;
  
}

.btn--hero:hover::after {
  transform: translateX(0);
}

.btn--hero .btn__wrapper {
  height: 100px;
  align-items: center;
}

.btn--hero svg {
  display: block;
}

.btn--hero .svg-container {
  --width: 31;
  --ratio: 1;

  width: calc( var(--width) * 1px );
  padding-bottom: calc( 100% * var(--ratio) );
}

.btn--hero .btn__title {
  padding-left: 18px;
}

.btn--close {
  padding: 15px;
}

.btn--close .btn__wrapper {
  flex-direction: column;
  justify-content: center
}

.btn--close .btn__wrapper > * {
  margin: 0 auto;
}

.btn--close .btn__icon {
  transform: rotate(45deg);
  transition: transform var(--transitionTime--s) ease-in-out;
}

.btn--close .svg-container {
  --width: 36;
  --ratio: 1;
  
  margin: 0 auto;

  width: calc( var(--width) * 1px );
  padding-bottom: calc( 100% * var(--ratio) );
}

.btn--close .btn__title {
  padding-top: 4px;
  font-size: 15px;
  font-weight: 300;
  color: var(--gray6);
  transition: opacity var(--transitionTime--s) ease-in-out;
}

.btn--close:hover .btn__icon {
  transform: rotate(45deg) scale(1.35);
}

.btn--close:hover .btn__title {
  opacity: .4;
}

/* Layout */
#root {
  max-width: 1110px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 30px;

  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}

/* Content */
header {
  display: flex;
  justify-content: center;  
}

.logo .svg-container {
  --width: 168;
  --ratio: 0.2976190476;

  width: calc( var(--width) * 1px );
  padding-bottom: calc( 100% * var(--ratio) );
}

.content {
  padding: 30px 0 50px 0;
  text-align: center;
}

.hero-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.hero-list li {
  flex-basis: 30%;
  max-width: 310px;

  display: flex;
  flex-direction: column;
}

.hero-list h2 {
  margin-top: 20px;
  margin-bottom: 8px;

  font-weight: 800;
  line-height: 110%;
  letter-spacing: -.5px;
  color: var(--gray3);
}

.hero-list p {
  margin: 0;
  font-size: 18px;
  color: var(--gray6);
  line-height: 130%;
}

.hero-list__icon {
  margin: 0 auto;
}

.hero-list__icon .svg-container {
  width: calc( var(--width) * 1px );
  padding-bottom: calc( 100% * var(--ratio) );
}

.hero-list__sra .svg-container {
  --width: 34;
  --ratio: 1.2352941176;
}

.hero-list__pod .svg-container {
  --width: 43;
  --ratio: 0.976744186;
}

.hero-list__ufcb .svg-container {
  --width: 38;
  --ratio: 1.1052631579;
}

/* footer */
footer {
  padding-bottom: 22px;
  font-size: 15px;
  line-height: 130%;
}

footer,
.footer-nav a {
  color: var(--gray7);
}

footer p {
  margin-bottom: 0;
}

.footer-nav {
  float: right;
}

.footer-nav a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 4px;
  text-decoration: none;
}

.footer-nav a::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  content: '';
  background-color: var(--gray925);
}

.footer-nav a + a {
  margin-left: 20px;
}

.footer-nav a span {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 275ms ease;
}

.footer-nav a span::before {
  display: inline-block;
  padding-bottom: 2px;
  content: attr(data-content);
  
  color: var(--blue5);
  border-bottom: 2px solid var(--blue8);
  
  transform: translateX(100%);
  transition: transform 275ms ease;
}

.footer-nav a:hover span,
.footer-nav a:hover span::before {
  transform: translateX(0);
}

/* Overlay */
.modal-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: var(--zIndex-overlay);

  display: block;
  overflow-y: auto;
  
  background-color: #fff;
}

.overlay__wrapper {
  padding: 30px;
}

.overlay__content {
  width: 600px;
  margin: 0 auto;
  padding: 100px 0 10px 0;
}

.overlay__close {
  position: fixed;
  top: 138px;
  margin-left: -100px;
}

.overlay.fade-enter {
  opacity: 0;
  transition: all var(--transitionTime) ease-in-out;
}

.overlay.fade-enter-active {
  opacity: 1;
}

.overlay.fade-leave {
  transition: all var(--transitionTime) ease-in-out;
}

.overlay.fade-leave-active {
  opacity: 0;
}

@media only screen and (max-height: 300px) {
  .overlay__close {
    position: static;
    margin-left: -15px;
  }

  .overlay__content {
    padding-top: 0;
  }
}

@media only screen and (max-width: 890px) {
  /* Form Components */
  .btn--close .btn__title {
    font-size: 14px;
  }

  /* Overlays */
  .overlay__content {
    padding-top: 0;
    width: auto;
    max-width: 600px;
  }

  .overlay__close {
    position: static;
    margin-left: -15px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  /* Type */
  h1 {
    font-size: 30px;
  }

  h2 {
    margin-bottom: 20px;
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    margin-bottom: 14px;
  }

  .hero-title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 48px;
    letter-spacing: -2px;
  }

  /* Form Components */
  .btn--hero {
    padding-left: 48px;
    padding-right: 48px;
    font-size: 24px;
  }
  
  .btn--hero .btn__title {
    padding-left: 14px;
  }

  .btn--hero .btn__wrapper {
    height: 80px;
  }

  .btn--hero .svg-container {
    --width: 24;
  }

  /* Content */
  .logo .svg-container {
    --width: 140;
  }

  .hero-list {
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
  }

  .hero-list li {
    max-width: none;
    flex-basis: auto;
  }

  .hero-list li:not(:last-child) {
    margin-bottom: 40px;
  }

  .hero-list__icon {
    margin: 0 auto 0 0;
  }

  .hero-list__sra .svg-container {
    --width: 30;
  }

  .hero-list__pod .svg-container {
    --width: 39;
  }
  
  .hero-list__ufcb .svg-container {
    --width: 35;
  }

  footer {
    font-size: 14px;
  }

  .footer-nav {
    float: none;
    margin-bottom: 12px;
  }

  section {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  /* Content */
  .hero-list {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .hero-list h2 {
    margin-top: 0;
  }

  .hero-list li {
    position: relative;
    padding-left: 55px;
  }

  .hero-list__icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  footer {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

  /* Type */
  h1 {
    font-size: 28px;
  }

  h2 {
    margin-bottom: 18px;
    font-size: 16px;
  }

  h3 {
    margin-bottom: 12px;
    font-size: 14px;
  }

  .hero-title {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: -30px;
    margin-right: -30px;
    padding: 35px 30px;
    
    font-weight: 800;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;

    background-color: var(--gray10);
  }

  p {
    margin-bottom: 13px;
  }

  p.note {
    font-size: 13px;
  }

  /* Layout */
  .content {
    justify-content: flex-start;
    text-align: left;
  }

  /* Form Components */
  .btn--hero {
    margin-left: -10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
  }

  .btn--hero .btn__title {
    padding-left: 13px;
  }

  .btn--hero .btn__wrapper {
    height: 70px;
  }

  .btn--hero .svg-container {
    --width: 20;
  }


  /* Content */
  header {
    justify-content: flex-start;
  }

  .logo .svg-container {
    --width: 107;
  }

  .hero-list {
    margin-bottom: 40px;
  }

  .hero-list h2 {
    margin-top: 15px;
  }

  .hero-list li:not(:last-child) {
    margin-bottom: 30px;
  }

  .hero-list__sra .svg-container {
    --width: 28;
  }

  .hero-list__pod .svg-container {
    --width: 36;
  }
  
  .hero-list__ufcb .svg-container {
    --width: 33;
  }

  section {
    margin-bottom: 40px;
  }

  /* Overlays */
  .overlay__close {
    margin-top: -20px;
  }
}