html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

.logo {
  --width: 4.6875em;

  position: absolute;
  left: 50%;
  top: 47%;
  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--width) / -2);
  width: var(--width);
  height: var(--width);
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
